{% assign color=site.page_color %}
{% if include.color %}
  {% assign color=include.color %}
{% endif %}

{% assign header="What are you waiting for?" %}
{% if include.header %}
  {% assign header=include.header %}
{% endif %}

{% assign button-txt="Join us now!" %}
{% if include.button-txt %}
  {% assign button-txt=include.button-txt %}
{% endif %}

<span class="marker" style="font-size:2.7em;">
  {{ header }}
</span>
<span>
[{{ button-txt }}]({{ include.link }}){: .button-join .btn-primary style="background: {{ color }}; border-color: {{ color }};" target="_blank"}
</span>
