{% assign classes = "" %}
{% unless include.no_botrip %}
  {% assign classes = classes | append:"botrip " %}
{% endunless %}
{% unless include.no_toprip %}
  {% assign classes = classes | append:"toprip " %}
{% endunless %}
{% assign marker = "" %}
{% if include.brand-text-as-marker %}
  {% assign marker = marker | append:"marker " %}
{% endif %}
{% assign agenda-label = "" %}
{% if include.agenda-label %}
  {% assign agenda-label = agenda-label | append:"agenda-label " %}
{% endif %}
{% assign color=site.page_color %}
{% if include.color %}
  {% assign color=include.color %}
{% endif %}
<section class="include-decorated-picture{% if include.speaker-icon %} include-speakers{% endif %}"{% if include.data %} data-tag="{{ include.data }}"{% endif %}>
  <div>
    <div class="decorated-picture">
      <div class="image-canvas {{ classes }}">
        {% include assert.html is_true=include.background-image error="Image should be set" %}
        <img class="the-image" src="{{ include.background-image }}" alt="">

        {% if include.dot-text %}
        <div class="dot {{ include.dot-txt-size }}">{{ include.dot-text }}</div>
        {% endif %}


        <div class="ribbons">
          {% if include.brand-lead %}
          <div class="brand-lead {{ marker }} {{ agenda-label }}" >
            {{ include.brand-lead }}
          </div>
          {% endif %}

          {% if include.brand-txt %}
            <div class="brand-tag" style="background-color: {{ color }}">
              <h1 style="{% if include.speaker-icon %}margin-left: 20px; {% endif %}{% if include.brand-txt-size %}font-size: {{ include.brand-txt-size }}em; {% endif %}">
                {% assign txt = include.brand-txt | markdownify %}
                {% if txt contains '<!--power-icon-->' %}
                  {% assign txt = txt | replace_first:"<p>","<p class='on-btn'>" %}
                {% endif %}
                {{ txt }}
              </h1>
            </div>
          {% endif %}
        </div>
      </div>

      {% if include.subtitle %}
      <div class="caption">{{ include.subtitle | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</section>
