{% assign classes = "" %}
{% unless include.no_botrip %}
  {% assign classes = classes | append:"botrip " %}
{% endunless %}
{% unless include.no_toprip %}
  {% assign classes = classes | append:"toprip " %}
{% endunless %}
{% assign marker = "" %}
{% if include.brand-text-as-marker %}
  {% assign marker = marker | append:"marker " %}
{% endif %}
{% assign agenda-label = "" %}
{% if include.agenda-label %}
  {% assign agenda-label = agenda-label | append:"agenda-label " %}
{% endif %}
{% assign color=site.page_color %}
{% if include.color %}
  {% assign color=include.color %}
{% endif %}

{% capture is_orange %}
  {% include func/is_orange.html color=color %}
{% endcapture %}
{% assign is_orange = is_orange | strip %}
<script>
console.log("{{ is_orange }}");
</script>
<section class="include-decorated-picture{% if include.speaker-icon %} include-speakers{% endif %}"{% if include.data %} data-tag="{{ include.data }}"{% endif %}>
  <div>
    <div class="decorated-picture">
      <div class="image-canvas {{ classes }}">
        <div class="image-canvas-inner">
          {% include assert.html is_true=include.background-image error="Image should be set" %}
          <img class="the-image" src="{{ include.background-image }}" alt="">
          
          {% if include.dot-text %}
          <div class="dot {{ include.dot-txt-size }}">{{ include.dot-text }}</div>
          {% endif %}
          
          <div class="ribbons">
            {% if include.brand-lead %}
            <div class="brand-lead {{ marker }} {{ agenda-label }}" >
              {{ include.brand-lead }}
            </div>
            {% endif %}
          
            {% if include.brand-txt %}
              {% assign length = include.brand-txt | markdownify | strip_html | strip | size %}
              {% assign font_size = 150.0 | divided_by:length %}
              {% if font_size > 8.0 %}
                {% assign font_size = 8.0 %}
              {% endif %}
              {% if font_size < 4.0 %}
                {% assign font_size = 4.0 %}
              {% endif %}
              <div class="brand-tag" style="background-color: {{ color }}; font-size:{{ font_size }}em;">
                <h1 style="{% if include.speaker-icon %}margin-left: 20px; {% endif %}">
                  {% assign txt = include.brand-txt | markdownify %}
                  {% if txt contains '<!--power-icon-->' %}
                    {% if is_orange == site.true_ %}
                      {% assign txt = txt | replace_first:"<p>","<p class='on-btn on-btn-black'>" %}
                      {% else %}
                      {% assign txt = txt | replace_first:"<p>","<p class='on-btn'>" %}
                    {% endif %}
                  {% endif %}
                  {{ txt }}
                </h1>
              </div>
              {% endif %}
            </div>
        </div>
        </div>

      {% if include.subtitle %}
      <div class="caption">{{ include.subtitle | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</section>
