<section class="include-eventbrite">
  <div class="{{ include.css_classes }}">
    {% assign height = 300 %}
    {% if include.height%}
      {% assign height = include.height %}
    {% endif %}
  
    {% if include.header %}
      <h1>{{ include.header | markdownify }}</h1>
     {% else %}
      <h1 id="tickets">Tickets</h1>
    {% endif %}
    <div class="eventbrite-ticket-widget eventbrite-desktop">
      {% if include.text %}
        {{ include.text | markdownify }}
      {% endif %}
      {% include assert.html is_true=include.eventbriteid error="Eventbrite id should be set" %}
      <iframe  src="//eventbrite.co.uk/tickets-external?eid={{ include.eventbriteid }}&ref=etckt" frameborder="0" height="{{ height }}px" width="100%" vspace="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no"  allowtransparency="true"></iframe>
    </div>
    <a class="eventbrite-mobile" href="http://www.eventbrite.com/e/test-tickets-{{ include.eventbriteid }}?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid={{ include.eventbriteid }}" alt="Eventbrite tickets" /></a>
  </div>
</section>
