{% comment %}
offset    - from what index to start
limit     - how many output
past=true - to show past events only
sort
class
{% endcomment %}

{% assign desirable_live_state = site.true_ %}
{% if include.past %}
  {% assign desirable_live_state = site.false_ %}
{% endif %}

<div class="include-events{% if include.class %} {{ include.class }}{% endif %}">
  {% case include.sort %}
  {% when "date_" %}
    {% assign site_events = site.events | sort:"date_" %}
  {% else %}
    {% assign site_events = site.events | sort:"weight" %}
  {% endcase %}

  {% assign site_events_filtered = "" | split:"" %}
  {% for e in site_events %}
    {% capture is_live %}
      {% include func/is_live.html event=e %}
    {% endcapture %}
    {% assign is_live = is_live | strip %}
    {% if is_live == desirable_live_state %}
      {% assign site_events_filtered = site_events_filtered | push: e %}
    {% endif %}
  {% endfor %}

  {% if include.past %}
    {% assign site_events_filtered = site_events_filtered | reverse %}
  {% endif %}

  {% for e in site_events_filtered limit:include.limit offset:include.offset %}
    {% capture is_subevent %}
    {% include func/is_subevent.html page=e %}
    {% endcapture %}
    {% assign is_subevent = is_subevent | strip %}
    {% capture is_live %}
    {% include func/is_live.html event=e %}
    {% endcapture %}
    {% assign is_live = is_live | strip %}

    {% capture is_orange %}
      {% include func/is_orange.html color=e.color %}
    {% endcapture %}
    {% assign is_orange = is_orange | strip %}
    <div class="event filter-item{% if is_live == site.false_ %} past{% endif %}{% if is_subevent == site.true_ %} subevent{% endif %}" data-tags='["{{ site.filter_event.filter_any_item_tag }}","{{ e.type }}"]'>
      <a class="event-link" href="{{ e.url }}">
        <img src="{{ e.event_header.img }}" alt="{{ e.title }}">
        {% assign color=site.page_color %}
        {% if e.color %}
          {% assign color=e.color %}
        {% endif %}
        <span class="brand-tag" style="background: {{ color }}">
          {% assign txt = e.brand-txt | markdownify %}
            {% if txt contains '<!--power-icon-->' %}
              {% if is_orange == site.true_ %}
                {% assign txt = txt | replace_first:"<p>","<p class='on-btn on-btn-black'>" %}
                {% else %}
                {% assign txt = txt | replace_first:"<p>","<p class='on-btn'>" %}
              {% endif %}
            {% endif %}
          {{ txt }}
        </span>
      </a>
      {% include date-location.html
      color=color
      date=e.date_
      date_end=e.date_end
      time=e.time
      city=e.city %}
      {% if e.caption %}
        <div class="caption">
          {{ e.caption | markdownify }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
