<footer class="site-footer">
  <div class="slogan">
    <div class="footer-content">
      <span>
        {{ site.footer[0] }}
      </span>
      <span>
        {{ site.footer[2] }}
        <a href="{{ site.praqma.url }}" target="_blank">
          <img class="logo" src="{{ site.footer[1] }}" />
        </a>
      </span>
    </div>
  </div>
  <div class="navigation">
    <nav>
      {% for event_type_hash in site.event_types %}
        {% if forloop.first == false %}
          {% for event_type in event_type_hash %}
            {% assign events_filtered = "" | split:"" %}
            {% for event in site.events %}
              {% if event.type == event_type[0] %}
                {% assign events_filtered = events_filtered | push:event %}
              {% endif %}
            {% endfor %}
            {% assign events_filtered_size = events_filtered | size  %}
            {% if events_filtered_size > 0 %}
              <section>
                <h3>{{ event_type[1] }}</h3>
                <div class="content">
                  {% for event in events_filtered %}
                    <a class="{% if event.url == page.url %}active{% endif %}" href="{{ event.url }}">
                      {{ event.title }}
                    </a>
                  {% endfor %}
                </div>
              </section>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      <section class="company">
        <h3>Company info</h3>
        <div class="content">
          {% assign site_pages = site.pages | sort:"nav_weight" %}
          {% for m in site_pages %}
            {% if m.nav_weight %}
              {% assign menu_item_name = m.title %}
              {% if m.menu_title %}
                {% assign menu_item_name = m.menu_title %}
              {% endif %}
              <a class="page-link{% if m.url == page.url %} active{% endif %}" href="{{ m.url | prepend: site.baseurl }}">{{ menu_item_name }}</a>
            {% endif %}
          {% endfor %}
          {% include social.html %}
        </div>
      </section>
    </nav>
  </div>
  <div class="copyright">
    <div>
      <a href="/" class="logo">
        <img src="/images/code-conf.png" alt="CoDe-Conf">
      </a>
      © Praqma, {{ site.time | date: "%Y" }}
    </div>
  </div>
</footer>
