<header class="site-header">
  <div>
    <a href="/" class="logo">
      <img src="/images/code-conf.png" alt="CoDe-Conf">
    </a>
    <nav class="site-nav">
      <a href="mailto:{{ site.email }}?subject=Sponsor%20inquiry">Sponsor inquiries</a>
      {% assign site_pages = site.pages | sort:"nav_weight" %}
        {% for m in site_pages %}
          {% if m.nav_weight %}
            {% assign menu_item_name = m.title %}
            {% if m.menu_title %}
              {% assign menu_item_name = m.menu_title %}
            {% endif %}
            <a class="page-link{% if m.url == page.url %} active{% endif %}" href="{{ m.url | prepend: site.baseurl }}">{{ menu_item_name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
