<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="GmotbltJZrT5UAOzCnCqsBUk21EF5dCcg-xvRPvAmHQ" />
  <link rel="icon" href="/favicon.ico?v=reload" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src="/javascripts/googleanalytics.js"></script>
  <script src="/javascripts/praqmajsutils.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/ca76bc53db.js"></script>
  {% assign color=site.page_color %}
  {% if page.color %}
    {% assign color=page.color %}
  {% endif %}
  <style>
  a, a:hover, a:focus{
    color: {{ color }};
  }
  </style>
</head>
