{% assign classes = "" %}
{% unless include.no_botrip %}
  {% assign classes = classes | append:"botrip " %}
{% endunless %}
{% unless include.no_toprip %}
  {% assign classes = classes | append:"toprip " %}
{% endunless %}
<div class="include-pullout {{ classes }}" style="background: {{ include.color }}">
  <div class="image">
    <img src="{{ include.img }}" alt="{{ include.caption }}">
  </div>
  <div class="text">
    {% if include.caption %}
      <h2>{{ include.caption }}</h2>
    {% endif %}
    {{ include.content | markdownify }}
  </div>
</div>
