{% assign classes = "" %}
{% unless include.no_botrip %}
  {% assign classes = classes | append:"botrip " %}
{% endunless %}
{% unless include.no_toprip %}
  {% assign classes = classes | append:"toprip " %}
{% endunless %}
<div class="include-pullout {{ classes }}" style="background: {{ include.color }}">
  {% if include.img %}
    <div class="icon">
      <img src="{{ include.img }}" alt="{{ include.caption }}">
    </div>
  {% endif %}
  <div class="text text-{% if include.img %}with{% else %}no{% endif %}-image">
    {% if include.caption %}
      <h2 class="{{ include.css_classes }}" >{{ include.caption }}</h2>
    {% endif %}
    </br>
    {{ include.content | markdownify }}
  </div>
  </div>
