{% assign classes = "" %}
{% unless include.no_botrip %}
  {% assign classes = classes | append:"botrip " %}
{% endunless %}
{% unless include.no_toprip %}
  {% assign classes = classes | append:"toprip " %}
{% endunless %}
{% assign color=site.page_color %}
{% if include.color %}
  {% assign color=include.color %}
{% endif %}
<div class="include-pullout {{ classes }}" style="background: {{ color }}">
  {% if include.img %}
    <div class="icon">
      <img src="{{ include.img }}" alt="{{ include.caption }}">
    </div>
  {% endif %}
  <div class="text text-{% if include.img %}with{% else %}no{% endif %}-image">
    {% if include.caption %}
    <h2 class="{{ include.css_classes }}{% unless include.img %} marker{% endunless %}" >{{ include.caption }}</h2>
    {% endif %}
    {% include assert.html is_true=include.content error="Pullout content can't be empty" %}
    {{ include.content | markdownify }}
  </div>
  </div>
