{% for speaker in site.speakers %}
  {% assign speaker_basename = speaker.path | split:"/" | last | split:"." | first %}
  {% capture events_raw %}
    {% include events_by_speaker.html speaker_id=speaker_basename required_event_field="basename" separator="|" %}
  {% endcapture %}
  {% assign events_raw = events_raw | split:"||" | pop %}
  {% assign events = "" | split:"" %}
  {% assign event_basenames = "" | split:"" %}
  {% assign participates_in_live_event = site.false_ %}
  {% for event_raw in events_raw %}
    {% assign event = event_raw | split:"|" %}
    {% assign event_item_basename = event[0] | strip_newlines | strip %}
    {% assign event_item_title    = event[1] | strip_newlines | strip %}
    {% assign event_item_url      = event[2] | strip_newlines | strip %}
    {% assign event_item_is_live  = event[3] | strip_newlines | strip %}
    {% assign event_item = "" | split:"" %}
    {% assign event_item = event_item | push:event_item_basename %}
    {% assign event_item = event_item | push:event_item_title %}
    {% assign event_item = event_item | push:event_item_url %}
    {% comment %}
    {% assign event_item = event_item | push:event_item_is_live %}
    {% endcomment %}
    {% assign event_basenames = event_basenames | push:event_item_basename %}
    {% assign events = events | push:event_item %}
    {% if event_item_is_live == site.true_ %}
      {% assign participates_in_live_event = site.true_ %}
    {% endif %}
  {% endfor %}
  {% assign event_basenames = event_basenames | push:"{{ site.filter_speaker.filter_any_item_tag }}" %}
  <div class="speaker filter-item{% if participates_in_live_event == site.true_ %} live{% endif %}" data-tags='{{ event_basenames | jsonify }}'>
      <div class="image">
        <img src="{{ speaker.img }}" alt="{{ speaker.name }}">
      </div>
      <div class="details">
        <div class="name" id={{ speaker_basename }}>
          {{ speaker.name }}
        </div>
        <div class="position">
          {{ speaker.position }}
        </div>
        <div class="bio">
          {{ speaker.bio | markdownify }}
        </div>
        <div class="social">
          {{ speaker.social | markdownify }}
        </div>
        {% assign events_size = events | size %}
        {% if events_size > 0 %}
          <div class="events">
            Speaking at: 
            {% for event in events %}
              <a href="{{ event[2] }}">{{ event[1] }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
  </div>
{% endfor %}
