<div class="include-subevents">
{% assign events = site.events | sort: 'date_' %}
  {% for e in events %}
    {% assign e_parent_dir = e.path | split:"/" | pop | last %}
    {% include assert.html is_true=include.this_page.path error="this_page is not set" %}
    {% assign this_page_basename = include.this_page.path | split:"/" | last | split:"." | first %}
    {% if e_parent_dir == this_page_basename %}
      <div class="subevent">
        <a href="{{ e.url }}">
          <div class="city">
            {{ e.city }}
          </div>
          <img src="{{ e.event_header.img }}" alt="{{ e.title }}">
          <div class="details">
            <div class="date">{{ e.date_ | date:"%-d %b %Y" }}</div>
            <div class="programme">See programme</div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
