.page-events{
  .include-events{
    @extend .row;
    font-size: 0.33em;
    .event{
      @extend .col-md-4;
      overflow: hidden;
      clear: none;
      @media (min-width: $screen-md-min) {
        height: 400px;
      }
    }
  }
  header.page-header{
    background: url(../images/layout/event-page-title.png) 0 0 no-repeat;
    border: none;
    height: 304px;
    margin: 0;
    h1{
      font-size: 5em;
      margin: 0;
      padding: 74px 0 0px 0px; 
      text-align: center;
      width: 380px;
    }
    @media (max-width: $screen-xs-max) {
      background: none;
      height: auto;
      h1{
        font-size: 4em;
        margin-top: 20px;
        padding: 0;
        text-align: left;
        width: auto;
      }
    }
  }
  .no-events{
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
      margin-left: 40px;
    }
    img{
      max-width: 100%;
      @media (min-width: $screen-sm-min) {
        float: left;
      }
    }
    .text{
      margin-top: 20px;
      text-align: center;
      p:first-child{
        font-weight: bold;
      }
      p:last-child{
        display: none;
      }
    }
    @media (min-width: $screen-sm-min) {
      .text{
        float: left;
        font-family: $headings-font-family;
        margin-left: -6%;
        margin-top: 29px;
        max-width: 30%;
        text-align: left;
        p:first-child{
          color: $orange;
          font-weight: normal;
          line-height: 0.88;
          margin-bottom: 0;
          span{
            display: inline-block;
          }
        }
        p:last-child{
          display: block;
          line-height: 1;
          margin-left: 75px;
          margin-top: 4px;
        }
        .word1{
          font-size: 3em;
          margin-left: 43px;
          position: relative;
          top: -41px;
        }
        .word2{
          font-size: 6em;
          margin-left: 5px;
        }
        .word3{
          font-size: 6em;
          margin-left: 34px;
        }
        .word4{
          font-size: 3em;
        }
        .word5{
          font-size: 3em;
          margin-left: 73px;
          margin-top: 6px;
        }
        .word6{
          font-size: 5.25em;
          margin-top: 3px;
        }
      }
    }
  }
}
