.page-speakers{
  .speaker{
    @extend .row;
    margin-top: 30px;
    .image{
      @extend .col-md-2;
      img{
        border-radius: 9999px;
        width: 140px;
      }
    }
    .details{
      @extend .col-md-9;
    }
    .name{
      font-family: $headings-font-family;
      font-size: 3.1em;
      line-height: 1em;
    }
    .position{
      font-family: $headings-font-family;
      font-size: 1.3em;
    }
    .bio{
      
    }
    .social, .events{
      font-family: $headings-font-family;
      font-size: 1.1em;
    }
  }
}
