.include-meetup-summary{
  @extend .row;
  margin-top: 30px;
  .content{
    @extend .col-md-5;
    /*@extend .monospace;*/
    padding-left: 55px;
    font-size: 0.9em;
    /*padding-top: 40px;*/
  }
  .details{
    @extend .col-md-7;
    .include-date-location{
      float: left;
      font-size: 0.46em;
      .date-location{
        padding-left: 0;
      }
    }
    .date-location-button{
      margin-bottom: 16px;
      padding-right: 50px;
      overflow: hidden;
    }
    .image img{
      width: 100%;
      padding-right: 50px;
    }
    .button{
      @extend .btn;
      @extend .btn-default;
      @extend .btn-xs;
      color: white;
      float: right;
      font-family: $headings-font-family;
      padding: 0 10px;
      font-size: 1.2em;
      letter-spacing: 0.02em;
    }
  }
}
