.workshop-header {
	color: white !important;
	font-size: 1em;
}

.workshop-text {
	background-color:white;
	line-height: 0.9; 
	display: inline;
}

.centered {
	text-align: center;
}

.white-font {
	color: white !important;
}

.big {
	font-size:4em;
}

.space-under {
	margin-bottom: 20px !important;
}