.agenda-text, .benefit-text {
	color: #9C9C9C;
	text-transform: uppercase;
}

.margin45 {
	margin: 45px;
}

.marker {
	font-family: $marker-font-family !important;
}

.agenda-label {
	font-size: 4em !important;
}