.include-contact-banners{
  @extend .row;
  font-family: $headings-font-family;
  @media (min-width: $screen-sm-min) {
    margin-top: 40px;
  }
  .col{
    @extend .col-md-4;
    margin-bottom: 20px;
    a{
      /*line-height: 40px;*/
      border: 1px solid black;
      display: inline-block;
      font-size: 2em;
      padding: 0px 20px;
      position: relative;
      text-decoration: none;
      width: 100%;
      &:hover{
        color: $orange;
      }
      &:after{
        background-color: $orange;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
      }
    }
    &.sponsor a:after{
      background-image: url(../images/icons/contact-banners-sponsor.svg);
    }
    &.contact a:after{
      background-image: url(/images/icons/contact-banners-contact.svg);
    }
    &.social a:after{
      background-image: url(/images/icons/contact-banners-social.svg);
    }
  }
}
