.include-conferences{
  font-size: 0.6em; // scales all text and images inside
  .conference{
    margin-bottom: 20px;
    &:nth-child(3n+1){
      clear: both;
    }
    .include-date-location{
      .date-location{
        margin-top: 0.7em;
        padding-left: 0;
      }
    }
    a.event-link{
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  a, a:hover{
    color: white !important;
  }
  .brand-tag{
    bottom: 0;
    display: inline-block;
    font-family: $headings-font-family;
    font-size: 9em;
    left: 0;
    position: absolute;
    @media(max-width: $screen-xs-max){
      font-size: 15vw;
    }
    a{
      @extend .col-md-12;
    }
    p{
      line-height: 1em;
      margin: 0;
      padding-left: 0.25em;
      padding-right: 0.2em;
      &:after{
        display: inline-block;
        margin-left: 0.08em;
        content: "";
        background: url(/images/icons/on-symbol-cropped.png) no-repeat 0 0;
        background-size: 100%;
        width: 0.265em;
        height: 0.3em;
      }
    }
    em{
      color: $orange;
      font-style: normal;
    }
    & .on-btn{
      vertical-align: baseline;
      @media(max-width: $screen-xs-max){
        width: 3vw;
      }
    }
  }
  .caption{
    font-size: $font-size-base;
    margin-top: 1em;
    @media(max-width: $screen-sm-max){
      margin-top: 0px;
    }
  }
}
