.include-date-location{
  @extend .row;
  &>div{
    /*@extend .wrapper;*/
    @extend .col-md-12;
  }
  .date-location{
    font-family: $headings-font-family;
    font-size:   1.7em;
    padding-left: 45px;
    line-height: 1.2em;
    @media(max-width: $screen-xs-max){
      margin-top: 7vw;
      padding: 0 10px 0 10px;
    }

    .image-canvas{
      z-index: 1;
      display: block;
      position: relative;
      float: left;
      width: 2.3em;
      text-align: right;
      margin-right: 0.4em;
      img{
        width: 100%;
      }
    }

    .date, .date-span, .location, .time{
      float: left;
      @media(max-width: $screen-sm-max){
        margin-bottom: 20px;
        /*@extend .clearfix;*/
      }
    }

    .date, .location{
      /*@extend .col-md-4;*/
      /*width: 270px;*/
      width: 10em;
    }

    .date-span{
      /*@extend .col-md-6;*/
      /*width: 200px;*/
      width: 11em;
    }

    .time{
      /*@extend .col-md-3;*/
      /*width: 200px;*/
      width: 9em;
    }

    /*.label, .value{*/
      /*margin-right: -15px;*/
    /*}*/

    .value{
      font-size: 1.37em;
    }
  }
}
