.include-date-location{
  @extend .row;
  &>div{
    /*@extend .wrapper;*/
    @extend .col-md-12;
  }
  .date-location{
    font-family: $headings-font-family;
    font-size:   1.7em;
    line-height: 1.2em;
    margin-top: 7vw;
    padding: 0 10px 0 10px;
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      padding: 0 0 0 45px;
    }

    .image-canvas{
      z-index: 1;
      display: block;
      position: relative;
      float: left;
      width: 2.3em;
      text-align: right;
      margin-right: 0.4em;
      img{
        width: 100%;
      }
    }

    .date, .date-span, .location, .time{
      float: left;
      margin-bottom: 20px;
      width: 100%;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
        /*float: none;*/
      }
    }

    .date, .location{
      width: 10em;
    }

    .date-span{
      width: 11em;
    }

    .time{
      width: 9em;
    }

    .value{
      font-size: 1.37em;
    }
  }
}
