.include-pullout{
  @extend .wrapper;
  @extend .colored;
  @extend .clearfix;
  margin-bottom: -1px;
  &>div{
    padding-bottom: 20px;
  }
  .icon{
    @extend .col-md-2;
    text-align: right;
    img{
      width: 100px;
    }
  }
  .text{
    h1,h2,h3{
      color: black;
    }
    &>h2.marker{
      color: white;
      font-size: 3em;
      margin-bottom: 20px;
      margin-left: 40px;
    }
  }
  .text-with-image{
    @extend .col-md-10;
    padding-right: 20px;
  }
  .text-no-image{
    @extend .col-md-12;
  }
  // n-column include can be used inside the pullout
  .include-columns{
    width: 95%;
    margin: auto;
    .image img{
      width: 90%;
      margin-bottom: 10px;
    }
    h1,h2,h3{
      margin-bottom: 10px;
    }
    p{
      text-align: center;
    }
  }
}
