.include-subevents{
  @extend .row;
  width: 95%;
  margin-left: 25px;
  @media(max-width: $screen-xs-max){
    width: 100%;
    margin-left: 0;
  }
  // these lines possible worth moving to some page related place
  .subevent{
    @extend .col-md-6;
    font-family: $headings-font-family;
    margin-bottom: 25px;
    img{
      width: 100%;
    }
    &>a{
      @extend .subevent-class-graduated;
      &:after{
        background-position: 50% 40% !important;
      }
      position: relative;
      display: inline-block;
    }
    .city{
      background: #000;
      color: white;
      font-size: 2.5em;
      left: 0;
      padding: 0 0.3em;
      position: absolute;
      top: 0;
      z-index: 5;
    }
    .details{
      font-size: 2em;
      color: white;
      &>div{
        display: inline-block;
      }
      .date, .programme{
        background-repeat: no-repeat;
        background-size: 30px 30px;
        padding-left: 40px;
        background-position: 0 46%;
        margin-right: 20px;
      }
      .date{
        background-image: url(/images/icons/icon-date-black.png);
      }
      .programme{
        background-image: url(/images/icons/icon-go.png);
      }
    }

  }
}
