.layout-event{
  &>section{
    @extend .row;
    &>div{
      @extend .col-md-12;
    }
  }
  &.past{
    .include-eventbrite, .date-location-button .button, .button-join{
      display: none;
    }
    .brand-tag h1{
      @media (min-width: $screen-sm-min) {
        font-size: 0.9em;
      }
    }
  }
  &.past.subevent{
    .include-decorated-picture{
      .image-canvas-inner{
        @extend .subevent-class-graduated;
      }
    }
  }
  // We show `(PAST)` mark only on first decorated picture of past events
  &.past .include-decorated-picture:first-child .brand-tag h1:after{
        content: "(past)";
        margin-left: 0.4em;
        opacity: 0.5;
        font-size: 0.6em;
        display: inline-block;
  }
}
