#agenda{
  margin-left: 36px;
}
.agenda-formatter{
  $agenda-padding: 3px 0;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 1.2em;
  table{
    border-collapse: separate;
    border-spacing: 20px 0;
    margin: 5px -10px;
    table-layout: fixed;
    width: 80%;
    td{
      padding: $agenda-padding;
    }
    &.col-2, &.col-3, &.col-4 {
      margin: 10px -10px;
      td {
        background: #d8dbdc;
        padding: 10px;
        vertical-align: top;
        width: 99px;
      }
    }
    em{
      font-style: normal;
      color: #9d9ea1;
    }
  }
  .time{
    float: left;
    font-weight: bold;
    padding: $agenda-padding;
    text-align: right;
    width: 70px;
    &.col-2, &.col-3, &.col-4 {
      padding-top: 10px;
    }
  }
  strong{
    font-weight: bold;
  }
}
