#agenda{
  @media (min-width: $screen-sm-min) {
    margin-left: 36px;
  }
}
.agenda-formatter{
  $agenda-padding: 3px 0;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 1.2em;
  @media (min-width: $screen-sm-min) {
    margin-left: 40px;
  }
  table{
    border-collapse: separate;
    border-spacing: 20px 0;
    margin-bottom: 5px;
    margin-left:  -20px; // border-spacing compensation
    margin-right: -20px; // border-spacing compensation
    margin-top:    5px;
    min-width: 400px;
    table-layout: fixed;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 5px;
      margin-left:  -10px; // border-spacing compensation
      margin-right: -10px; // border-spacing compensation
      margin-top:    5px;
      width: 80%;
    }
    td{
      padding: $agenda-padding 0;
      @media (min-width: $screen-sm-min) {
        padding: $agenda-padding;
      }
    }
    &.col-2, &.col-3, &.col-4 {
      margin-top:    10px;
      margin-bottom: 10px;
      @media (min-width: $screen-sm-min) {
        margin-top:    10px;
        margin-bottom: 10px;
      }
      td {
        background: #d8dbdc;
        padding: 10px;
        vertical-align: top;
        width: 99px;
      }
    }
    em{
      font-style: normal;
      color: #9d9ea1;
    }
  }
  .time{
    /*margin: 5px 0;*/
    clear: both;
    float: left;
    font-weight: bold;
    margin-top: 20px;
    padding: $agenda-padding;
    width: 70px;
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      text-align: right;
    }
    &.col-2, &.col-3, &.col-4 {
      margin-top: 5px;
      padding-top: 10px;
    }
  }
  strong{
    font-weight: bold;
  }
}
