.columns2{
  @extend .row;
  >div{
    @extend .col-md-6;
    .image{
      text-align: center;
      padding-right: 30px;
      img{
        border-radius: 9999px;
        width: 100%;
        max-width: 300px;
      }
    }
    h1,h2,h3{
      padding-right: 30px;
      text-align: center;
    }
  }
}
