header.site-header{
  @extend .row;
  &>div{
    @extend .col-md-12;
    background: black;
    height: 70px;
    background-clip: content-box;
  }
  a.logo{
    float: left;
    margin-left: 25px;
    /*margin-right: -25px;*/
    margin-right: 10px;
    @media(max-width: $screen-xs-max){
      margin-left: 0;
    }
  }
  nav{
    float: right;
    @media(max-width: $screen-xs-max){
      margin-top: 15px;
      margin-right: 10px;
    }
    a{
      margin-right: 20px;
      font-family: $headings-font-family;
      letter-spacing: 0.02em;
      color: white;
      font-size: 1.1em;
      margin-right: 15px;
      padding-top: 35px;
      display: inline-block;
      &:last-child{
        margin-right: 40px;
      }
      &.active{
        color: $orange;
      }
      &:hover{
        opacity: 0.7;
      }
      @media(max-width: $screen-xs-max){
        font-family: $font-family-base;
        font-size: 15px;
        margin-right: 0;
        padding-right: 0;
        display: block;
        padding-top: 0;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
    &.event-nav{
      float: left;
    }
  }
}
