p.on-btn{
  .on-btn-black{}
  :after{
    display: inline-block;
    margin-left: 0.08em;
    content: "";
    background: url(/images/icons/on-symbol-cropped.png) no-repeat 0 0;
    background-size: 100%;
    width: 0.265em;
    height: 0.3em;
  }
}
