body{
  @extend .container;
  @media(max-width: $screen-xs-max){
    .post{
      padding: 0 $grid-gutter-width/2;
    }
  }
}

.layout-event>section>div{
  background-clip: content-box;
}

.mobile-margin-fix{
  padding: 0;
  @media (min-width: $screen-sm-min) {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}
